*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/misc.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/.idea/.name
/app/release/app-release.aab
/app/src/main/res/drawable/arrow1.png
/app/src/main/res/drawable/arrow3.png
/app/src/main/res/drawable/arrow6.png
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/codeStyles/Project.xml
/public_key.txt
/.idea/vcs.xml
